<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class='container'>
        <div class="inner">
            <div class="box">
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laborum dolorem corporis maxime
                    vero soluta esse fugit modi accusamus sint ea officiis, incidunt nemo iusto, ab iure nihil assumenda
                    dolore!
                    Quidem tempora possimus aperiam omnis repellat magni harum dolor accusamus, esse itaque quo unde
                    assumenda sapiente cum laboriosam eveniet corrupti pariatur architecto. Distinctio, atque! Amet
                    accusantium fugit illum dolores! Laudantium.</p>
            </div>
            <figure class="img"><img src="img/1.webp" alt=""></figure>
        </div>
        <div class='container reverse'>
            <div class="inner">
                <div class="box">
                    <h2>Lorem, ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laborum dolorem corporis
                        maxime
                        vero soluta esse fugit modi accusamus sint ea officiis, incidunt nemo iusto, ab iure nihil
                        assumenda
                        dolore!
                        Quidem tempora possimus aperiam omnis repellat magni harum dolor accusamus, esse itaque quo unde
                        assumenda sapiente cum laboriosam eveniet corrupti pariatur architecto. Distinctio, atque! Amet
                        accusantium fugit illum dolores! Laudantium.</p>
                </div>
                <figure class="img"><img src="img/2.webp" alt=""></figure>
            </div>
        </div>
        <div class='container'>
            <div class="inner">
                <div class="box">
                    <h2>Lorem, ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laborum dolorem corporis maxime
                        vero soluta esse fugit modi accusamus sint ea officiis, incidunt nemo iusto, ab iure nihil assumenda
                        dolore!
                        Quidem tempora possimus aperiam omnis repellat magni harum dolor accusamus, esse itaque quo unde
                        assumenda sapiente cum laboriosam eveniet corrupti pariatur architecto. Distinctio, atque! Amet
                        accusantium fugit illum dolores! Laudantium.</p>
                </div>
                <figure class="img"><img src="img/3.webp" alt=""></figure>
            </div>
            <div class='container reverse'>
                <div class="inner">
                    <div class="box">
                        <h2>Lorem, ipsum.</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laborum dolorem corporis
                            maxime
                            vero soluta esse fugit modi accusamus sint ea officiis, incidunt nemo iusto, ab iure nihil
                            assumenda
                            dolore!
                            Quidem tempora possimus aperiam omnis repellat magni harum dolor accusamus, esse itaque quo unde
                            assumenda sapiente cum laboriosam eveniet corrupti pariatur architecto. Distinctio, atque! Amet
                            accusantium fugit illum dolores! Laudantium.</p>
                    </div>
                    <figure class="img"><img src="img/4.jpeg" alt=""></figure>
                </div>
            </div>
</body>

</html>