*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.box{
    flex-basis: 100%;
    /* flex-grow: 1; */
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.box:nth-child(1){
    /* order = 아무값도 안주면, 기본값으로 0을 갖고 있다. */
    /* order:2; */
    background-color: hsl(100,50%,50%);
}
.box:nth-child(2){
    background-color: hsl(100,50%,60%);
}
.box:nth-child(3){
    /* order:-1; */
    background-color: hsl(100,50%,70%);
}
.box:nth-child(4){
    /* order:1; */
    background-color: hsl(100,50%,80%);
}
/* 모바일 640px */
/* 테블릿 768px, 1024px */
/* 테스크탑 1200, 1440, 1920px */
/* media query 를 안줫을때 기본적으로 width:0 부터 계산하기 시작 */
/* min-width (최소) */
@media(min-width:1024px){
    /* .flex > *{
        background-color: black;
        color:red;
    } */
    .box{
        flex-basis: calc(100%/2);
    }
}
@media(min-width:1200px){
    .box{
        flex-basis:calc(100%/3);        
    }
    .box:nth-child(2){
        background-color: red;
    }
}
@media(min-width:1440px){
    .box:nth-child(3){
        background-color: orange;
    }
    .box{
        flex-basis:calc(100%/4);        
    }
}
@media(min-width:320px) and (max-width:640px){
    .box{
        background-color: blue !important;
    }
}
/* 모바일 기기 경우 화면을 수평(landscape)방향으로 돌렸을때 */
@media(orientation:landscape){
    .box{
        background-color: red !important;
    }
}