*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bigBox1{
    width:100%;
    text-align: center;
    color: #ACE;
    font-size:2rem;
    font-weight: 700;
    /* background-color: aliceblue; */
}
.bigBox2{
    width:90%;
    margin-top: 20px;
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 50% 50%;
    gap:20px;
    padding: 10px;
    margin: 0 auto;
}

.bigBox2 .b1 img{
    width: 100%;
}
.bigBox2 .b2{
    padding: 10px;
    font-size: 1.2rem;
}

.bigBox3{
    width:80%;
    margin-top: 20px;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    margin: 0 auto;
}
.bigBox3 img{
    width: 100%;
}
.bigBox3 p{
    font-size:1.2rem;
}