<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="inner">
            <h2>Lerem, ipsum</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem hic voluptas est asperiores voluptatem autem nihil illum, veniam odio voluptate, animi deleniti. Nobis dignissimos consequuntur corrupti eaque est totam at.</p>
            <a href="#" class="btn">contact</a>
        </div>
    </div>
    <div class="container reverse">
        <div class="inner">
            <h2>Lerem, ipsum</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem hic voluptas est asperiores voluptatem autem nihil illum, veniam odio voluptate, animi deleniti. Nobis dignissimos consequuntur corrupti eaque est totam at.</p>
            <a href="#" class="btn">contact</a>
        </div>
    </div>
    <div class="container">
        <div class="inner">
            <h2>Lerem, ipsum</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem hic voluptas est asperiores voluptatem autem nihil illum, veniam odio voluptate, animi deleniti. Nobis dignissimos consequuntur corrupti eaque est totam at.</p>
            <a href="#" class="btn">contact</a>
        </div>
    </div>
    <div class="container reverse">
        <div class="inner">
            <h2>Lerem, ipsum</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem hic voluptas est asperiores voluptatem autem nihil illum, veniam odio voluptate, animi deleniti. Nobis dignissimos consequuntur corrupti eaque est totam at.</p>
            <a href="#" class="btn">contact</a>
        </div>
    </div>
</body>
</html>