  @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Nanum+Brush+Script&family=Sunflower:wght@300;500;700&display=swap');

 .title{
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Sunflower', sans-serif;
    font-size: 4rem;
    font-weight:900;
    /* text-decoration:underline;
    text-decoration: dotted; */
    letter-spacing: -4px;
    /* letter-spacing = 글자 간격 */
    line-height: 1;
    /* line-height = 글자 위 아래간격 */
    white-space:nowrap;
    /* white-space = 줄 바꿈 없이 계속 나열하는 방식 */
 }
 .giants{
    font-family: 'Giants-Inline';
 }
 @font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
 .dove{
    font-family: 'Dovemayo_gothic';
}