
/* .big{
	font-weight: bold;
} */
table tbody tr:nth-child(2){
	background-color: #eee;
}
table{
	 border-collapse: collapse; 
}
table tbody td{
	border: 1px solid black;
	padding: 10px;
}
table tbody td:first-child{
	text-align: center;
	font-weight: bold;
}
/* .container{
	border:1px solid black;
	padding: 15px;
} */
h2{
	border-bottom: 1px solid black;
	Padding-bottom: 5px;
}
table tbody td:first-child{
	border-right: 3px double black;
}
.table-wrapper{
	border: 1px solid black;
	border-radius: 20px;
	overflow: hidden;
}