*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    width:100%;
    max-width:100%;
    height:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* padding: 10px; */
    
}
.gallery{
    display:flex;
    max-width:100%;
    height:100vh;
    gap:10px;
    
}
.gallery figure{
    flex-basis: calc(100%/5);
    flex-grow: 1;
    border-radius: 200px;
    overflow: hidden;
    transition: all 300ms ease;
}
.gallery figure:hover{
    flex-basis: calc(100%/2.5);
}
.gallery figure img{
    transition: all 3000ms ease;
    filter:grayscale(100%) blur(5px);  
    transform: scale(2) rotate(30deg);
}
.gallery figure:hover img{
    filter:grayscale(0%) blur(0px);
    transform: scale(1) rotate(0);
}