<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <figure>
            <img src="img/1.webp" alt="">
        </figure>
        <div class="container">
            <h2>Lorem, ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium laboriosam nostrum, autem voluptas, animi omnis exercitationem numquam aut officia tempora consequuntur, sunt iusto rem possimus. Facilis, modi? Quia, aperiam reiciendis.
            Voluptatibus reiciendis molestias, esse quia impedit ut atque consequatur aliquid consectetur iure at beatae magnam eum, neque officiis nisi quasi tempora, modi aut hic veritatis doloribus possimus repellendus numquam. Perferendis.</p>
        </div>
    </section>
    <section>
        <!-- data-aos-anchor-placement = top - bottom일 경우 자기 자신의 top부분이 화면의 bottom에 걸렸을 경우 실행 된다는 의미 -->
        <figure  data-aos="fade-up" data-aos-duration="2000" data-aos-delay="1000"
        data-aos-anchor-placement="top-bottom">
            <img src="img/2.webp" alt="">
        </figure>
        <div class="container">
            <h2>Lorem, ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium laboriosam nostrum, autem voluptas, animi omnis exercitationem numquam aut officia tempora consequuntur, sunt iusto rem possimus. Facilis, modi? Quia, aperiam reiciendis.
            Voluptatibus reiciendis molestias, esse quia impedit ut atque consequatur aliquid consectetur iure at beatae magnam eum, neque officiis nisi quasi tempora, modi aut hic veritatis doloribus possimus repellendus numquam. Perferendis.</p>
        </div>
    </section>
    <section>
        <figure data-aos="fade-down">
            <img src="img/3.webp" alt="">
        </figure>
        <div class="container">
            <h2>Lorem, ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium laboriosam nostrum, autem voluptas, animi omnis exercitationem numquam aut officia tempora consequuntur, sunt iusto rem possimus. Facilis, modi? Quia, aperiam reiciendis.
            Voluptatibus reiciendis molestias, esse quia impedit ut atque consequatur aliquid consectetur iure at beatae magnam eum, neque officiis nisi quasi tempora, modi aut hic veritatis doloribus possimus repellendus numquam. Perferendis.</p>
        </div>
    </section>
    <section>
        <figure data-aos="fade-up-left">
            <img src="img/4.jpeg" alt="">
        </figure>
        <div class="container">
            <h2>Lorem, ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium laboriosam nostrum, autem voluptas, animi omnis exercitationem numquam aut officia tempora consequuntur, sunt iusto rem possimus. Facilis, modi? Quia, aperiam reiciendis.
            Voluptatibus reiciendis molestias, esse quia impedit ut atque consequatur aliquid consectetur iure at beatae magnam eum, neque officiis nisi quasi tempora, modi aut hic veritatis doloribus possimus repellendus numquam. Perferendis.</p>
        </div>
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration : 2000,
            delay : 1000
        }
        );
    </script>
</body>
</html>