@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;700&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  font-size: 0.9em;
  letter-spacing: -0.02em;
}
a {
  text-decoration: none;
  color: #333;
}
nav ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}
header {
  background-color: #eb9980;
  height: 100px;
}
header h1 {
  float: left;
  margin-top: 14px;
}
header h1 small {
  display: block;
  font-size: 0.5em;
}
header h1 > a {
  color: #1e90ff;
}
#header_menu {
  float: right;
}
#gnb {
  float: right;
}
.gmain {
  float: left;
  margin-left: 15px;
  position: relative;
  margin-top: 14px;
}
.gmain::after {
  content: "";
  display: block;
  width: 2px;
  height: 0.8em;
  background-color: dodgerblue;
  position: absolute;
  top: 5px;
  right: -8px;
}
.gmain:last-of-type::after {
  content: none;
}
.gmain a {
  color: #1e90ff;
  /* display: block;
  border-bottom: 1px solid #ccc;
  padding: 3px; */
}
.gmain:first-of-type a {
  padding-bottom: 10px;
}
.gsub {
  display: none;
  position: absolute;
  background-color: white;
  width: 100px;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
  z-index: 800;
}
.gsub a {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 3px;
}
.gsub li:last-of-type a {
  border-bottom: none;
}
.gmain:hover .gsub {
  display: block;
}
header .container {
  position: relative;
}
#lnb {
  margin-top: 8px;
  position: absolute;
  right: 0;
  top: 30px;
  overflow: hidden;
  height: 55px;
  transition: all 0.3s;
  z-index: 10000;
}
#lnb:hover {
  border-bottom: 1px solid #ccc;
  height: 180px;
}
.main {
  float: left;
  width: 130px;
}
.main > a {
  display: block;
  padding: 15px 5px;
  color: dodgerblue;
  font-weight: bold;
  font-size: 1.2em;
  position: relative;
  text-align: center;
}
.main > a::after {
  content: "";
  display: block;
  width: 3px;
  height: 18px;
  background-color: dodgerblue;
  position: absolute;
  right: -1.5px;
  border-radius: 1px 1px 0 0;
}
.main:last-of-type > a::after {
  content: none;
}
.sub {
  width: 130px;
  height: 300px;
  background-color: white;
}
.sub a {
  display: block;
  padding: 3px 15px;
  border-bottom: 1px solid #ccc;
  background-color: #fefefe;
}
footer {
  background-color: #eb9980;
  color: dodgerblue;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: right;
  margin-top: 60px;
}
footer a {
  color: #1e90ff;
}
